@model PNet.Dominio.Modelo.Proyecto

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>
<h3>
    ¿Está seguro de que desea eliminar este proyecto?
</h3>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.nombre)</dt>
        <dt>@Html.DisplayFor(model => model.nombre)</dt>

        <dt>@Html.DisplayNameFor(model => model.descripcion)</dt>
        <dt>@Html.DisplayFor(model => model.descripcion)</dt>

        <dt>@Html.DisplayNameFor(model => model.fecha)</dt>
        <dt>@Html.DisplayFor(model => model.fecha)</dt>

        <dt>@Html.DisplayNameFor(model => model.Gerente_idGerente)</dt>
        <dt>@Html.DisplayFor(model => model.Gerente_idGerente)</dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
