@model IEnumerable<PNet.Dominio.Modelo.Proyecto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Fecha caract.</th>
        <th>Gerente</th>
        <th>Acciones</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.idProyecto)</td>
            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.fecha)</td>
            <td>@Html.DisplayFor(modelItem => item.Gerente_idGerente)</td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.idProyecto }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idProyecto })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Nuevo", "Crear", "Proyecto")
</p>
