@model PNet.Dominio.Modelo.Gerente

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>
<h3>
    ¿Está seguro de que desea dar de baja a este Gerente?
</h3>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.Raw("Nombre: ")
        @Html.DisplayFor(model => model.nombre)</dt>

        <dt>@Html.Raw("Apellido: ")
        @Html.DisplayFor(model => model.apellido)</dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
